.textval {
  background-color: yellowgreen;
  text-align: right;
}
td {
  background-color: rgb(167, 158, 158);
  text-align: center;
  padding: 5px;
  border: 2px rgb(109, 106, 106) solid;
}
input {
  padding: 6px;
}

table {
  border: 4px rgb(88, 86, 86) solid;
  margin: auto;
  border-collapse: collapse;
}
